<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online Ludo Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/splash.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <script src="https://www.w3schools.com/lib/w3.js"></script></head>
<body>

    <header>
        <div class="logo">
            <img id="logo" src="images/logo_green.png">
        </div>

        <div class="heading">
            <h1>Ludo Game</h1>
            <h3>Online Multiplayer Board Game</h3>
        </div>
           
        <div class="second_image">
            <img id="family" src="images/family.png">
        </div>
    </header>

    <main>
        <a href="game.html"><div class="play">
            <div class="playtext">
                <h3>Play</h3>
            </div>
            <div class="playbutton">
                <img id="playbutton" src="images/playbutton.png">
            </div>
        </div></a>

        <div class="statistics">
            <div class="statstext">
                <h3>Statistics</h3>
            </div>

            <div class="slideshow"><img id="statsimage" src="/images/statsimage.png"></div>
            <div class="slideshow"><p>Games Played: <br> 5</p></div>
            <div class="slideshow"><p>Ongoing games: <br> 9</p></div>
            <div class="slideshow"><p>Online Players: <br> 10</p></div>
            <div class="navbuttons">
                <img onclick="myShow.previous()" id="navbuttons1" src="images/arrow_stats.png">
                <img onclick="myShow.next()" id="navbuttons2" src="images/arrow_stats.png"> <!---Rotate 180 degrees-->
            </div>

            <script>myShow = w3.slideshow(".slideshow", 0);</script>
        </div>

        

        <script>w3.slideshow(".mystats");</script>

        <div class="howto">
            <div class="howtotext">
                <h3>How to Play</h3>
            </div>
            <a href="howto.html"><div class="howtobutton">
                <img id="questionmark" src="images/questionmark.png">
            </div></a>
            
        </div>
    </main>
</body>
</html>