.grid {
    display: inline-block;
    padding: 1px;
}
.row {
    margin: 5px;
}
.cell {
    border: 3px solid #e6e6e6;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 3px;
    vertical-align: top;
}