/* General */

body {
    background-color: rgb(192, 227, 28);
}

a {
    text-decoration: none;
}

/* Header section */

header {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

div.logo {
    float: left;
    width: 33%;
    height: 300px; 
    
}

div.heading {
    display: inline-block;
    margin: 0 auto;
    width: 33%;
    height: 300px; 
}

div.second_image {
    float: right;
    width: 33%;
    height: 300px;
    
}

#logo {
    max-width: 300px;
}

#family {
    margin-top: 10%;
}

div.heading h1, h3 {
    font-family: 'Lobster', cursive;
}

div.heading h1 {
    font-size: 100px;
}

div.heading h3 {
    font-size: 30px;
}

/* Main section */

main {
    text-align: center;
    width: 100%;
}



div.play {
    float: left;
    width: 30%;
    font-size: 40px;
    background-color: whitesmoke;
    height: 500px;
    
}

div.statistics {
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    font-size: 40px;
    background-color: whitesmoke;
    height: 500px;
}

div.howto {
    float: right;
    width: 30%;
    font-size: 40px;
    background-color: whitesmoke;
    height: 500px;
}

.playtext {
    border: 4px solid black;
}

.statstext {
    border: 4px solid black;
}

.howtotext {
    border: 4px solid black;
}

#playbutton {
    max-width: 600px;
    margin: auto;
    display: block;
}

#playbutton:hover {
    transform: scale(1.1);
}

#statsimage {
    max-width: 200px;
    margin: auto;
    display: block;
}

.slideshow {
    max-width:200px;
    margin: auto;
    display: block;
    height: 150px;
    
}



#navbuttons1 {
    margin-top: 10px;
    max-width: 90px;
    transform: rotate(270deg);
    float: left;
    margin-left: 15px;
}



#navbuttons2 {
    margin-top: 10px;
    max-width: 90px;
    transform: rotate(90deg);
    float: right;
    margin-right: 15px;
}

div.navbuttons {
    margin-top: 40px;
    border: 2px solid black;
    z-index: 100;
    
}

.buttons {
    border: 1px solid orange;
}

#questionmark {
    max-width: 200px;
}

