body {
    background-color: rgb(192, 227, 28);
}

header {
    display: inline-block;
    width: 100%;
}

div.logo {
    float: left;
}

div.heading {
    float: middle;
}

div.second_image {
    float: right;
}

#logo {
    max-width: 400px;
}