/* General */

body {
    background-color: rgb(192, 227, 28);
    width: 100%;
}

ul {
    list-style-type: none;;
}

main {
    width: 100%;
    
}

a {
    text-decoration: none;
}

section.logosection {
    float: left;
    width: 30%;
    height: 300px; 
}

#logo {
    max-width: 350px;
    
}

section.timeelapsed {
    display: inline-block;
    margin: auto;
    width: 33%;
    height: 300px;
    position: relative;
}

section.timeelapsed h3 {
    position: absolute;
    font-family: 'Pacifico', cursive;
    bottom: 0;
    left: 0;
    right: 0;
    top: 150px;
    font-size: 40px;
    color:  #ffe6e6;
    -webkit-transition: color 2s; /* Safari */
    transition: color 2s;
}

section.timeelapsed h3:hover {
    color :  #DC143C;
}

section.timeelapsed h1 {
    position: relative;
    font-size: 7em;
    text-align: center;
    margin: 20px 0 20px 0;
}


section.timeelapsed h3::before {
    content: " Online ";
    font-size: 40px;
}

section.timeelapsed h3::after {
    content: " im here bro";
    font-size: 20px;
}


a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.6s;
  }
  
  section.timeelapsed h1 a {
    color:  	#DC143C;
    font-family: 'Monoton', cursive;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }

  section.timeelapsed h1 a:hover {
    color: #fff;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 25px #DC143C, 0 0 25px #DC143C, 0 0 30px #DC143C, 0 0 40px #DC143C, 0 0 50px #DC143C;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
  }

section.temp {
    float: right;
    width: 33%;
    height: 300px;
    
}

header {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
/* Main section */

main {
    text-align: center;
    width: 100%;
    font-family: 'Pacifico', cursive;
    float: center;
    font-size: 40px;
    
}



div.play {
    float: left;
    background-color: whitesmoke;
    width: 30%;
    height: 480px;
}

div.statistics {
    display: inline-block;
    margin: 0 auto;
    background-color: whitesmoke;
    width: 30%;
    height: 420px;
}

div.howto {
    float: right;
    background-color: whitesmoke;
    width: 30%;
    height: 480px;
}

.playtext {
    border: 5px solid black;
    color: black;
    background: whitesmoke;
}


.playtext:hover {

    border: 5px solid whitesmoke;
    color: whitesmoke;
    background: black;
}

a:active {
    background-color: yellow;
}

.statstext {
    border: 5px solid black;
    color:#DC143C;
    background: whitesmoke;
}

.statstext:hover {

    border: 5px solid black;
    color: whitesmoke;
    background: #DC143C;
}


.howtotext {
    border: 5px solid black;
    color: black;
    background: whitesmoke;
}

.howtotext:hover {

    border: 5px solid whitesmoke;
    color: whitesmoke;
    background: black;
}


#playbutton {

    margin-top: 10%;
    display: block;
    padding : 20px;
    width: 370px;
    height: 200px;
}

#playbutton:hover {
    transform: scale(1.1);
}

#statsimage {
    max-width: 200px;
    margin: auto;
    display: block;
}

.slideshow {
    max-width:200px;
    margin: auto;
    display: block;
    height: 150px;
    
}



#navbuttons1 {
    margin-top: 10px;
    max-width: 90px;
    transform: rotate(270deg);
    float: left;
    margin-left: 15px;
}



#navbuttons2 {
    margin-top: 10px;
    max-width: 90px;
    transform: rotate(90deg);
    float: right;
    margin-right: 15px;
}

div.navbuttons {
    margin-top: 40px;
    border: 2px solid black;
    z-index: 100;
    
}

.buttons {
    border: 1px solid orange;
}

#questionmark {
    max-width: 130px;
    padding: 30px;
    margin: auto;
    display: block;
}

#questionmark:hover {
    transform: scale(1.3);
}